.ui.cards .card .description {
    height: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}
.ui.cards .card {
    -webkit-transition: 0.5s;
}
.ui.cards .card:hover .header {
    -webkit-transition: 0.5s;
    color: #e07b53;
}